* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    
    
}

li, a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav-links{
    list-style: none;

}
.nav-links li {
    font-family: 'Noto Serif JP', serif;
    display: inline-block;
    padding: 0px 20px;
}



.about-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.other-items{
    width: 50%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    
}

.other-items li {
    font-family: 'Noto Serif JP', serif;
    display: inline-block;
    padding: 0px 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=1.25&fit=crop&fm=jpg&h=443&ixjsv=1.1.3&w=798");
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.text {
    color: rgb(255, 118, 77);
    font-family: "Noto Serif JP", serif;
    font-size: 6rem;
    font-weight: bolder;
}

.ableton-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.ableton-about h1 {
    width: 32vw;
    
}

.ableton-about p {
    width: 32vw;
    margin-bottom: 20px;
}


.collage-1 {
    
    position: relative;
    padding-top: 8.3vw;
    padding-bottom: 8.3vw;
}

.bg-lemonade {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 58.3vw;
    height: 58.3vw;
    left: 40.6vw;
    background-color: #fbffa7;
}


.collage-media-1{
    display: flex;
    gap: 50px;
    position: relative;
    z-index: 1;
    max-width: 15vw;
    height: 41.66667vw;
    /* margin-left: 3.33333vw; */
}

.collage-media-1 img{
align-self: center;

}
.ableton-about-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.ableton-about-2 h1{
    width: 32vw;
}


.ableton-about-2 p {
    width: 32vw;
    margin-bottom: 20px;
    
    
}

.media-section {
display: flex;
justify-content: center;

}


.second-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
   
}

.second-p h1 {
    width: 40vw;
    font-size: 20px;

}

.second-p p{
    width: 40vw;
    margin-bottom: 20px;
    
}

#media-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 8.3vw; 
}

.bg-green {
    position: relative;
    flex-shrink: 0;
    top: 0;
    z-index: 0;
    width: 58.3vw;
    height: 75vw;
    background-color: #b6ffc0;
}





 .one{
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    width: 33.3vw;
    height: 25vw;
    z-index: 1;
}
.two {
    position: absolute;
    z-index: 1;
    top: 32rem;
    padding-left: 20px;
    width: 33.3vw;
    height: 25vw;
    
}

.last-img{ 
    position: absolute;
    left: 45vw;
    top: 55px;
    z-index: 1;
    width: 45vw;
    height: 41.6vw;
    

}

.collage-2-media img {
    align-self: center;
}

.ableton-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ableton-blurb h1 {
    width: 40vw;
    font-size: 20px;
}

.ableton-blurb p {
    width: 40vw;
    margin-bottom: 20px;
}


.media-2 {
    display: flex;
    justify-content: center;
}

.ableton-blurb-2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ableton-blurb-2 h1 {
    width: 40vw;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.ableton-blurb-2 p {
    width: 40vw;
    font-size: 20px; 
    margin-bottom: 20px;
}

.bg-lavender {
    position: relative;
    top: 0;
    z-index: 0;
    width: 70.6vw;
    height: 75vw;
    background-color: #D5B3FF;
    flex-shrink: 0;

}

#media-3 {
    display: flex;
    position: relative;
    justify-content: center;
}

.learning-1 {
    position: relative;
    z-index: 1;
    top: 25vw;
    left: 31vw;
    justify-content: center;
    align-items: center;
}

.learning-2 {
    position: relative;
    z-index: 1;
    top: 15vw;
    right: 32vw;
}

.last-blurb {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-blurb h1 {
    width: 40vw;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 20px;
}

.last-blurb p {
    width: 40vw;
    font-size: 20px; 
    margin-bottom: 20px;
}

 #production-collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    
    
 }

.production-img{
 position: relative;
 display: flex;
 justify-content: flex-end;

}
.bg-periwinkle {
    background-color: #d5b3ff;
    max-width: 42.6vw;

} 

.bg-periwinkle p {
    position: relative;
    font-size: 2.5rem;
    width: 40vw;
    display: flex;
    flex-direction: column;
    top: 13vw;
    padding: 20px;
}


.multi-level-footer{
    padding-bottom: 20px;
    padding-left: 20px ;
    width: 100;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: min-content 1fr min-content; */
}

.multi-level-footer li{
    list-style-type: none;
}

.register{
    grid-column: 1/2;
    text-decoration: none;
}



